<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zander.digitalwatermark">
    <!--FOR BAIDU LOCATION SERVICE-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/whale"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/whale"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--debug-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MejEGSV4fdlF5drjfjQPXxsQxLiYFXaD"/>

        <!--release-->
        <!--<meta-data-->
            <!--android:name="com.baidu.lbsapi.API_KEY"-->
            <!--android:value="SCeoKIn8cSAcgmvjONcBdYP4GTvagb8s"/>-->

        <activity android:name="com.zander.digitalwatermark.FirstActivity">

        </activity>

        <activity android:name="com.zander.digitalwatermark.MainActivity">

        </activity>
        <activity android:name="com.zander.digitalwatermark.StartActivity">

        </activity>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">

        </service>

        <activity android:name="com.zander.digitalwatermark.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>